{% extends "layout.html" %}
{% load humanize %}

{% block content %}
    <div class="row">
        <div class="col offset-m4 m4 s12">
            <form method="get">
                <div class="input-field">
                    <input name="search" type="search" placeholder="Search by name, genre, actors, etc..." value="{{ search }}">
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        {% for movie in movies %}
        <div class="col s6 m2">
            <div class="movie card">
                <div class="card-image">
                    <a href="/movies/{{ movie.id }}">
                        <img class="cover" src="{{ movie.cover }}" title="{{ movie.description }}">
                    </a>
                    <a class="btn-floating halfway-fab inactive red center" title="Based on {{ movie.num_reviews|intword|intcomma }} reviews"><span>{{ movie.score|floatformat:1 }}</span></a>
                </div>
                <div class="card-content">
                    <a class="card-title truncate" href="/movies/{{ movie.id }}" title="{{ movie.title }}">{{ movie.title }}</a>
                </div>
            </div>
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col s6">
        {% if movies.has_other_pages %}
            <ul class="pagination">
            {% if movies.has_previous %}
                <li class="waves-effect"><a href="?{{ search_param }}page={{ movies.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
            {% else %}
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            {% endif %}
            {% for p in page_range %}
                {% if movies.number == p %}
                    <li class="active"><a href="#!">{{ p }}</a></li>
                {% else %}
                    <li class="waves-effect"><a href="?{{ search_param }}page={{ p }}">{{ p }}</a></li>
                {% endif %}
            {% endfor %}
            {% if movies.has_next %}
                <li class="waves-effect"><a href="?{{ search_param }}page={{ movies.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
            {% else %}
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            {% endif %}
            </ul>
        {% endif %}
        </div>
    </div>
{% endblock %}
