* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #202020;
    color: white;
}

.nav.blue {
    background-color: #007aff;
}

.movie.card .card-content {
    height: 100px;
    padding-left: 15px;
    padding-right: 15px;
}

.movie.card .card-title {
    font-size: 16px;
    color: black;
}

.cover {
    height: 260px;
}